.gameContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grayCell{
  border: 2px solid white;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;
}
.blueCell{
  border: 2px solid white;
  background: rgb(32, 109, 224);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;
}
.redCell{
  border: 2px solid white;
  background: rgb(224, 32, 32);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;
}
.greenCell{
  border: 2px solid white;
  background: rgb(4, 168, 26);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;
}
.purpleCell{

  border: 2px solid white;
  background: rgb(126, 32, 235);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;

}
.orangeCell{

  border: 2px solid white;
  background: rgb(235, 147, 32);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;

}
.yellowCell{

  border: 2px solid white;
  background: rgb(235, 232, 32);;
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;

}
.darkCell{

  border: 2px solid white;
  background: rgb(11, 11, 95);
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  display: -webkit-inline-box;

}
.gameBoardContainer{
  border: 2px solid white;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boardRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tiny-log, .smallFont{font-size: 9px;}
.boardCellContainer{display: flex;}